[flake8]
exclude = .git, venv, migrations, __pycache__
max-line-length = 120

В settings.py добавить настройки:
if 'test' in sys.argv:
    DATABASES = {
        'default': {
            'ENGINE': 'django.db.backends.sqlite3',
            'NAME': BASE_DIR / 'test_db.sqlite3'),
        }
    }
